{% extends 'base.html' %}
{% block title %}Real Bible Translation - {{ page_title }}{% endblock %}
{% load custom_tags %}
{% block content %}


<script>
    function reloadText() {

        document.getElementById('loadingSpinner').style.display = 'inline';
        // Get the existing text from the HTML element
        const inputText = document.getElementById('inputText').innerText;
        const encodedText = encodeURIComponent(inputText);

        // Create a FormData object to send as form data
        const formData = new FormData();
        formData.append('text', inputText);

        // Make the AJAX request to the Django view
        fetch('/RBT/paraphrase/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded', // Set the content type
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: `text=${encodedText}` // Send the encoded text in the body
        })
        .then(response => response.json())
        .then(data => {
            // Update the output with the paraphrased text
            document.getElementById('output').innerText = data.paraphrasedText;
            document.getElementById('loadingSpinner').style.display = 'none';
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('loadingSpinner').style.display = 'none';
        });
    }
</script>



<style>
    /* Style for the STRONGS pop-up container */
    .popup-container {
        position: relative; /* Create a positioning context */
        display: inline-block; /* Display the container inline */
    }
    /* Style for the pop-up content */
    .popup-content {
        display: none; /* Initially hide the content */
        position: absolute; /* Position it absolutely within the container */
        top: 100%; /* Position below the container */
        left: 0;
        background-color: #fff; /* Background color */
        border: 1px solid #ccc; /* Border */
        padding: 10px; /* Padding */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
        z-index: 1; /* Ensure it's above other content */
        width: 200px; /* Adjust the width as needed */
        font-size: 12px;
        text-align: left;
    }

    /* Style to show the pop-up content on hover */
    .popup-container:hover .popup-content {
        display: block; /* Show the content on hover */
    }


    .info_popup {
        display: none;
        font-size: 12px;
        color: blue;
    }
    .output-container:hover .info_popup {
        display: block;
        top: 30px; /* Adjust the distance from the .single-verse */
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
    }


</style>

<p><a href="/RBT/">Back to Search</a></p>

<strong>Select a Chapter:</strong>
    {% for chapter in 50|get_range %}
    <a href="?book={{ book }}&chapter={{ chapter }}">{{ chapter }}</a> |
    {% endfor %}
<p></p>

<div class="arrow-links">
    
    <h3>
        <a href="{{ previous_verse }}"><i class="fas fa-chevron-circle-left"></i></a>
        Genesis {{ chapter_num }}:{{ verse_num }}<a href="{{ next_verse }}"><i class="fas fa-chevron-circle-right"></i></a>
    </h3>
    
</div>

<h4>Verse</h4>

<div style="display: flex; justify-content: flex-end;">
    <label for="niqqudSwitch" style="font-size: 12px;">Show Niqqud &nbsp</label>
    <input type="checkbox" id="niqqudSwitch" onclick="toggleNiqqud()">
</div>
<div>
    <div style="display: flex; justify-content: flex-end;">
        <div style="font-size: 34px;text-align: right; margin-bottom: 1em;" id="hebText"></div>
    </div>
</div>
<script>
    // Assuming you have already defined the 'rbt_heb' variable from Python
    var rbt_heb = `{{ hebrew | safe }}`;  // To safely pass the Python variable to JavaScript

    // Function to remove niqqud characters from the Hebrew text
    function removeNiqqud(text) {
        // Regular expression pattern to match niqqud characters
        var niqqudPattern = /[\u0591-\u05BD\u05BF\u05C1-\u05C5\u05C7]/g;
        return text.replace(niqqudPattern, '');
    }

    // Function to toggle the niqqud visibility based on the checkbox state
    function toggleNiqqud() {
        var hebText = document.getElementById("hebText");
        var niqqudSwitch = document.getElementById("niqqudSwitch");

        if (niqqudSwitch.checked) {
            hebText.innerHTML = rbt_heb;
        } else {
            hebText.innerHTML = removeNiqqud(rbt_heb);
        }
    }

    // Initially, set the innerHTML to the original rbt_heb content with niqqud removed
    document.getElementById("hebText").innerHTML = removeNiqqud(rbt_heb);
</script>

    {% if rbt %}
        <div class="single_verse">{{ rbt|safe }}</div>
        <div id="inputText" style="display: none;">{{ rbt_text }}</div>
        <div class="single_verse">
            <strong>RBT AI Paraphrase: <span id="info-icon">&#9432;</span></strong>
            <img src="http://www.realbible.tech/wp-content/uploads/2023/09/button_regenerate.png" style="vertical-align: middle; width: 89px; cursor: pointer;" id="reloadButton" onclick="reloadText()">
            <img src="http://www.realbible.tech/wp-content/uploads/2023/09/Spinner-0.8s-21px.gif" id="loadingSpinner" style="vertical-align: middle; margin-left: 10px; display: none;" />
            <br>
            <div class="output-container">
                <div id="output">
                    {{ rbt_paraphrase|safe }}
                </div>
                <div class="info_popup">
                    <p>This paraphrase is generated by the ChatGPT AI model. It is prompted to make the RBT text more readable while preserving the Hebrew. Please note that the results may be unpredictable, so use it cautiously.</p>
                </div>
            </div>
        </div>
        
        
        
        {{ litv|safe }}
        {{ esv|safe }}
        {{ englxx|safe }}

        <h4>Footnotes</h4>
        <div>
            <table>
            {{ footnotes|safe }}
            </table>
        </div>
        
    {% else %}

        <p>No verses found for chapter {{ chapter_num }}.</p>
    {% endif %}
{% endblock %}
